In [ ]:
import pandas as pd
df = pd.read_csv("../data/raw/sentiment/sentiment_scores.csv")
df.head()

        headline          clean  score
0           News           news    0.0
1           Life           life    0.0
2  Entertainment  entertainment    0.0
3        Finance        finance    0.0
4         Sports         sports    0.0