In [3]:
import yfinance as yf
import pandas as pd

# Choose stock (change if you want)
TICKER = "AAPL"

# Download 6 months of daily data
df = yf.download(TICKER, period="6mo", interval="1d")

# Reset index so Date becomes a column
df.reset_index(inplace=True)

# Save historical prices
df.to_csv("../data/raw/prices/historical_prices.csv", index=False)

print("Historical prices saved:", df.shape)
df.head()

C:\Users\ashri\AppData\Local\Temp\ipykernel_22252\608245709.py:8: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(TICKER, period="6mo", interval="1d")
[*********************100%***********************]  1 of 1 completed

Historical prices saved: (128, 6)

Price        Date       Close        High         Low        Open    Volume
Ticker                   AAPL        AAPL        AAPL        AAPL      AAPL
0      2025-06-20  200.577713  201.276239  196.446411  197.823517  96813500
1      2025-06-23  201.076645  201.874967  198.541988  201.206377  55814300
2      2025-06-24  199.879181  203.012583  199.779385  202.164363  54064000
3      2025-06-25  201.136520  203.242088  200.198493  201.026751  39525700
4      2025-06-26  200.577713  202.214267  199.040955  201.006802  50799100

In [5]:
import pandas as pd

df = pd.read_csv("../data/raw/prices/historical_prices.csv")

# Create target
df["target"] = (df["Close"].shift(-1) > df["Close"]).astype(int)
df.dropna(inplace=True)

# Select ONLY available columns
features = df[[
    "Open",
    "High",
    "Low",
    "Close",
    "Volume",
    "target"
]]

features.to_csv("../data/processed/features/features.csv", index=False)

print("✅ Features generated:", features.shape)
features.head()

✅ Features generated: (128, 6)

,Open,High,Low,Close,Volume,target
1,197.82351706190548,201.27623931614946,196.44641147314488,200.5777130126953,96813500,1
2,201.20637663769034,201.87496712850407,198.54198818263384,201.07664489746094,55814300,0
3,202.16436301176623,203.0125832870988,199.77938491343542,199.87918090820312,54064000,1
4,201.02675088646447,203.24208788881052,200.19849288768373,201.1365203857422,39525700,0
5,201.00680230384165,202.2142668779585,199.04095514509618,200.5777130126953,50799100,1